html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: #272635;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .formulaire {
    width: 280px;
    border-radius: 20px;
    background-color: #f0bcd4;
    padding: 20px;
    position: absolute;
    z-index: 1;
  }
  
  .nom {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
  }
  
  .couleur {
    display: flex;
    justify-content: space-between;
  }
  
  .choix {
    height: 40px;
    border-radius: 20px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-appearance: none;
    outline: none;
  }
  
  .jouer {
    height: 40px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    border: none;
    outline: none;
  }
  
  .game {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .player {
    display: flex;
    background-color: #7fd8be;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
    float: left;
  }
  
  .playerName {
    position: absolute;
    top: 0;
  }
  
  .playerHand {
    font-size: 200px;
  }
  
  .cpu {
    display: flex;
    background-color: #d16d82;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absoltue;
    float: right;
  }
  
  .cpuName {
    position: absolute;
    top: 0px;
  }
  
  .cpuHand {
    font-size: 200px;
  }
  
  .resultat {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 50px;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .rejouer {
    position: absolute;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: white;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    outline: none;
  }
  